*.js
!jest.config.js
!lambda-src/*.js
*.d.ts
!lambda-src/*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Lambda build artifacts
output/
lambda-src/node_modules/
lambda-src/package-lock.json
