*.js
!jest.config.js
*.d.ts
node_modules
package-lock.json

# CDK asset staging directory
.cdk.staging
cdk.out

# Lambda build artifacts
output/
lambda-src/node_modules/
lambda-src/package-lock.json
lambda-src/*.js
lambda-src/*.d.ts
